.dnd5e2.sheet.actor {
    --underlay-occultist: url("../../modules/kibbles-compendium-of-legends-and-legacies/assets/underlays/occultist.png");
    --underlay-spellblade: url("../../modules/kibbles-compendium-of-legends-and-legacies/assets/underlays/spellblade.jpg");
    --underlay-warden: url("../../modules/kibbles-compendium-of-legends-and-legacies/assets/underlays/warden.jpg");
    --underlay-warlord: url("../../modules/kibbles-compendium-of-legends-and-legacies/assets/underlays/warlord.png");
}